h2.Register {
    text-align: center;
    font-size: 36px;
}

h3.Activity {
    font-size: 26px;
    text-align: center;
}

h3.Number {
    text-align: center;
    font-size: 26px;
}

h2.user {
    font-size: 25px;
}

p.time {
    font-size: 16px;
}


