.grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 713px;
    background-image: url(../image/camp.jpg);
    background-size: 100% 100%;
}
.button{
    border: solid 2px hsl(0, 0%, 100%);
    padding: 5px 10px;
    background-color: hwb(148 4% 22%);
    color: #000;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 10px;
}
.button:hover{
    border: solid 1.8px hsl(0, 0%, 0%);
    background-color: rgb(255, 255, 255);
    color: hwb(0 0% 100%);
    text-decoration:none ;
}
.text{
    color: rgba(1, 24, 40, 0.719);
    font-size: 5.5rem;
    margin:0px 200px 550px -590px ;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}